*{
    margin:0;
    padding:0;
    outline: none;
}
*{
    box-sizing: border-box;
}

body{
    font-size: 16px;
line-height: 28px;

    color:black;
}

.img{
    max-width: 100%;
}
.container{
width: 1400px;
margin: 0 auto;
padding: 0 15px;

}
header{
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 5px grey;
    padding: 15px;
}
 
header .logo{
    margin-left:30px;
    width:100px;
}
header .anchortag a{
    padding-left:20px;
    color: black;
    text-decoration: none;
}
.allmicrosofticons{
    padding-left: 40%;
}
.allmicrosofticons a{
    padding-left: 20px;
    color: black;
    text-decoration: none;
}
.allmicrosofticons i{
    padding-left: 5px;
    color: black;
    opacity: 0.5;
}


 
 .showcase{
background:url("https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Highlight-Hero-M365-Screenplates-Update-Excel:VP5-1920x600") no-repeat right center ;
background-size:cover;
height: 500px;
position: relative;
}
.text{
width:25%;
position: absolute;
margin:90px 80px;
padding:0 10px;

}
.showcase .text h2{
    font-size: 34px;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.showcase .text p{
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 25px;
}


.showcase .btnfor1{
    display: flex;
} 
.showcase .btnfor1 .btn{
    padding: 10px 20px;
    background-color: #0067b8;
    color:white;
} 

.showcase .for1 a{
    padding: 10px;
    margin-left: 10px;
    text-decoration: none;
    color: #0067b8;
}
.showcase .for1 a:hover{
    text-decoration: underline;
}


.showcase .for1 i {
    margin-left: 4px;
    color: #0067b8;
}
.showcase .for1:hover i{
    padding-left: 5px;
}
.showcase .for1:hover{
    text-decoration: underline;
}
.pagescroll{
    text-align: center;
    margin-top: 40px;    
}
.linkicons{
    text-align: center;
    padding-bottom: 30px;
}
.linkicons .images .img{
    padding: 50px 50px 10px 110px;
justify-items: center;
}
.linkicons .links a{
justify-content: center;
padding:16px 24px;
font-size: 18px;
color: #0067b8;
}
.content-box {
    display: flex;
    margin-top: 40px;
}
.content-box .img{
height:213px;

}
.content-box .itembox{
  padding: 0 10px;
}
.content-box .itembox h2,
.content-box .itembox p{
margin: 10px 0;
}
.content-box .itembox i{
    color:#0067b8;
    padding-left: 5px;
}
.content-box .itembox a{
    text-decoration: none;
    color: #0067b8;
}
.content-box .itembox a:hover{
    text-decoration: underline;
}
 .edgebox{
background-image: url("https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/gldn-MSFT-hero-Edge:VP5-1596x600");
background-repeat: no-repeat;
background-size:cover;
height:500px;
width: 1400px;
margin-top: 40px;
position: relative;

}
 .microsoftedgedownload{
    height: 230px;
    width:30%;
padding: 20px 40px;
background-color: aliceblue;
margin:120px 60px;
align-items: center;
position: absolute;
}
.microsoftedgedownload h2{
    font-size: 42px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;
}
.microsoftedgedownload p{
    padding-bottom: 40px;
    font-size: 16px;
}
.microsoftedgedownload .btn{
    padding:10px 20px;
    background-color: #0067b8;
    text-align: center;
    color: white;
    font-size: 16px;
}
h3{
    margin-top: 100px;
    font-size: 34px;
    padding-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.forbusinessbox{
    display:flex;
    margin-top: 10px;
}
.forbusinessbox .itembox{
    padding: 0 10px;
}

.forbusinessbox .img{
width:380px;
    height: 213px;
}
.forbusinessbox .btn{
    padding: px 0px;
    margin-top:px;
    background-color:orange;
}
.forbusinessbox p{
    margin-bottom: 10px;
}
.forbusinessbox i{
    color:#0067b8;
    margin-left: 5px;
}
.forbusinessbox a{
    color:#0067b8;
    font-size: 16px;
    text-decoration: none;
}
.followmicrosofticons{
display:flex;
margin-top: 60px;

}
.followmicrosofticons .img{
    width:30px;
  
}
.followmicrosofticons .heading{
    margin-right: 20px;
    font-size: 17px;
    font-family:Arial, Helvetica, sans-serif;
}
.button .btn{
    float:right;
    padding: 4px 8px;
    font-size: 14px;
}
.button i{
    padding-right: 10px;
}

.footer{
    background-color:#f2f2f2;
    display: flex;
    justify-content: space-between;
    padding: 50px 70px 50px 10px;
list-style-type: none;
margin-top: 90px;
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
opacity: 0.6;
}
.footer h5{
   padding-bottom: 15px;
   font-family:Arial, Helvetica, sans-serif;
   font-size: 15px;
}
.footer li{
    padding-top: 15px;
}
.footersection a{
    display: block;
    padding-top: 15px;
    color: black;
    text-decoration: none;
}
.footersection a:hover{
    text-decoration: underline;
}
.verticalfooter{
    padding:0 40px 50px 0;
    background-color:#f2f2f2;
    opacity: 0.6;
    display: flex;
    justify-content: space-between;
}
.verticalfooter i{
    padding-right: 5px;

}
.verticalfooter a{
    padding-left: 20px;
    color: black;
    text-decoration: none;
}
